body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.btn {
  height: 45px;
  font-size: 18px;
  padding: 13px 25px;
  border-radius: 10px;
}

.btn-sm {
  height: 40px;
  padding: 0 12px;
}

.btn-primary {
  font-family: "Myriad Pro";
  font-weight: bold;
  background: #0B5757;
  border: 2px solid #003F3F;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
  cursor: pointer;
  line-height: 1;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &:focus{
    outline: none;
    background-color: #0B5757;
    border: none;
    box-shadow: none !important;
  }
  &:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  &:active {
    background: #0B5757 !important;
    border-color: #003F3F !important;
  }
  &:hover {
    background: #0B5757;
    border: 2px solid #003F3F;
    box-shadow: none;
  }
}

.btn-secondary {
  font-family: "Myriad Pro";
  font-weight: bold;
  background: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
  cursor: pointer;
  line-height: 1;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  &:focus{
    outline: none;
  }
  &:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  &:hover {
    background: transparent;
    border: 2px solid #ffffff;
    box-shadow: none;
  }
}

.container {
  padding: 0 25px;
  max-width: 1440px !important;
}

.input-group-text {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.border-separator {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.form-control {
  border-radius: 0.25rem !important;
}

section:not(.stars-wrapper) {
  z-index: 9999;
  position: relative;
}

.custom-select-wrapper {
  position: relative;
  .select-custom {
    color: #FFFFFF;
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover {
      .custom-options {
        transform: scale(1);
      }
    }
    .select-label {
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.8;
    }
    .custom-select__trigger {
      height: 45px;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 8px 60px 8px 15px;
      cursor: pointer;
      max-width: max-content;
      margin-bottom: 10px;
      position: relative;
    }
    .arrow {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 1px solid white;
      img {
        height: 8px;
        margin: 0 2px 0 12px;
      }
    }
    .custom-options {
      display: flex;
      flex-direction: column;
      border: 2px solid white;
      border-radius: 5px;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      transform: scale(0);
      transition: all 0.3s ease-in-out;
      position: absolute;
      left: 0;
      top: 79px;
      white-space: nowrap;
      z-index: 9999;
      span {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(255,255,255, .3);
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    img {
      height: 24px;
      margin: 0 10px 0 0;
    }
    span {
      width: 100%;
    }
  }
}

.custom-form-group {
  display: flex;
  flex-direction: column;
  .custom-label {
    text-transform: uppercase;
    line-height: 24px;
    .name {
      margin-right: 5px;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.8;
    }
  }
  input {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 60px 8px 15px;
    margin-bottom: 10px;
    position: relative;
    height: 45px;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF !important;
      opacity: 1 !important;
    }
  }
}

input {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #FFE81F !important;
  }
}

label {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.8;
}

.wallet-field {
  background: rgba(255, 232, 31, 0.2);
  border: 2px solid #FFE81F;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 15px;
  margin-bottom: 10px;
}

.green-shield path {
  fill: #2CAA00;
}

.yellow-shield path {
  fill: #ADC217;
}

.red-shield path {
  fill: #900000;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
    margin-bottom: 25px;
    thead {
      tr {
        th {
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
          padding: 10px;
        }
      }
    }
    tbody {
      tr {
        td {
          border-bottom: 1px solid transparent;
          font-family: Myriad Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          opacity: .9;
          padding: 10px;
        }
      }
    }
  }
}

input {
  background-color: transparent !important;
  border: 2px solid silver;
  outline: none;
  height: 40px;
  color: white !important;
  &::placeholder {
    font-family: Myriad Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 19px;
    color: #ffffff !important;
    opacity: .7 !important;
  }
}
