@import '../../../assets/styles/mixins/variables.scss';

h1 {
  font-family: 'DK Lemon Yellow Sun';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: $body-text-yellow;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-lg {
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

h2 {
  font-family: "Myriad Pro";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  padding: 18px;
  box-sizing: border-box;
  margin: 0;
}

h3 {
  font-family: 'DK Lemon Yellow Sun';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: $body-text-yellow;
  font-size: 26px;
  line-height: 150%;
  letter-spacing: 2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

body {
  font-family: 'Myriad Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  color: $white-text;
  font-size: 20px;
}
