
//*color skin variables

$pink-color: #D34493;
$body-text-yellow: #ffde00;
$white-text: #ffffff;
$white-color: #ffffff;
$dark-blue: #2E2959;
$light-blue: #393467;
$dark-shadow: #0E0A37;
$dark-green: #2A7805;
$hyper-link: #ffde00;

$topBarDarkBlue: #5F7FB7;
$topBarLightBlue: #8EABE1;

$error: #E20000;

@mixin bg-gradient(){
  background: linear-gradient(140.98deg, rgba(211, 76, 155, 0.95) 35.89%, rgba(93, 78, 169, 0.95) 93.77%);
}
