//*color skin variables
$yellow: #FFE81F;
$orange: #F67343;
$green: #0B5757;
$dark-green: #003F3F;
$extra-dark-green: #001B1B;
$white-text: #ffffff;
$white-color: #ffffff;
$green-status: #00CF78;
$yellow-status: #EBD300;
$red-status: #EB3800;

@mixin bg-gradient-status(){
  background: linear-gradient(90deg, #910000 0%, #92360B 24.55%, #ADC217 33.44%, #ADC217 66.38%, #2CAA00 76.75%, #2CAA00 100.31%), #C4C4C4;
}
