@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Black.eot');
    src: url('MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Black.woff2') format('woff2'),
        url('MyriadPro-Black.woff') format('woff'),
        url('MyriadPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('MyriadPro-Regular.eot');
  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('MyriadPro-Regular.woff2') format('woff2'),
  url('MyriadPro-Regular.woff') format('woff'),
  url('MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


